<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>VulcanWM's Weekly 9 Submission</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
  </head>
  <body>
    <div class="header">
      <h1>VulcanWM's Weekly 9 Submission</h1>
    </div>
    <div class="navbar">
      <a class="nav-link nav-link-ltr" href="/">Home</a>
      <a class="nav-link nav-link-ltr" href="/first">Solve ax + b = c</a>
      <a class="nav-link nav-link-ltr" href="/second">Solve ax + b = cx + d</a>
      <a class="nav-link nav-link-ltr" href="/twovar">Solve two variable linear equations</a>
      <a class="nav-link nav-link-ltr" href="/threevar">Solve three variable linear equations</a>
      <a class="nav-link nav-link-ltr" href="/fourvar">Solve four variable linear equations</a>
      <a class="nav-link nav-link-ltr" href="/slope_intercept">Equation of line going through two points</a>
      <a class="nav-link nav-link-ltr" href="/questions/easy">Easy question on single variable linear equations</a>
      <a class="nav-link nav-link-ltr" href="/questions/medium">Medium question on single variable linear equations</a>
      <a class="nav-link nav-link-ltr" href="/questions/hard">Hard question on single variable linear equations</a>
    </div>
    <div class="content">
      <p>Linear equations are algebraic equations in which you have to figure out what certain variables are. Each term in them has an exponent of 1.</p>
      <h3>What is on each page:</h3>
      <h4>SOLVE AX + B = C</h4>
      <ul>
        <li>A ax + b = c solver</li>
        <li>A short step-by-step tutorial on how to solve ax + b = c</li>
        <li>An example of ax + b = c and how to solve it step-by-step</li>
        <li>Code for doing ax + b = c in Python</li>
      </ul>
      <h4>SOLVE AX + B = CX = D</h4>
      <ul>
        <li>A ax + b = cx + d solver</li>
        <li>A short step-by-step tutorial on how to solve ax + b = cx + d</li>
        <li>An example of ax + b = cx + d and how to solve it step-by-step</li>
        <li>Code for doing ax + b = cx + d in Python</li>
      </ul>
      <h4>SOLVE TWO VARIABLE LINEAR EQUATIONS</h4>
      <ul>
        <li>A two variable linear equation solver</li>
      </ul>
      <h4>SOLVE THREE VARIABLE LINEAR EQUATIONS</h4>
      <ul>
        <li>A three variable linear equation solver</li>
      </ul>
      <h4>SOLVE FOUR VARIABLE LINEAR EQUATIONS</h4>
      <ul>
        <li>A four variable linear equation solver</li>
      </ul>
      <h4>EASY QUESTION ON SINGLE VARIABLE LINEAR EQUATIONS</h4>
      <ul>
        <li>An easy question on single variable linear equations in the form of ax + b = c</li>
      </ul>
      <h4>MEDIUM QUESTION ON SINGLE VARIABLE LINEAR EQUATIONS</h4>
      <ul>
        <li>A medium question on single variable linear equations in the form of ax + b = c</li>
      </ul>
      <h4>HARD QUESTION ON SINGLE VARIABLE LINEAR EQUATIONS</h4>
      <ul>
        <li>A hard question on single variable linear equations in the form of ax + b = c</li>
      </ul>
    </div>
    <script src="{{ url_for('static', filename='sticky.js') }}"></script>
  </body>
</html>
