<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>VulcanWM's Weekly 9 Submission</title>
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="{{ url_for('static', filename='prism.css') }}" rel="stylesheet" />
  </head>
  <body>
    <div class="header">
      <h1>Two Variable Linear Equations</h1>
    </div>
    <div class="navbar">
      <a class="nav-link nav-link-ltr" href="/">Home</a>
      <a class="nav-link nav-link-ltr" href="/first">Solve ax + b = c</a>
      <a class="nav-link nav-link-ltr" href="/second">Solve ax + b = cx + d</a>
      <a class="nav-link nav-link-ltr" href="/twovar">Solve two variable linear equations</a>
      <a class="nav-link nav-link-ltr" href="/threevar">Solve three variable linear equations</a>
      <a class="nav-link nav-link-ltr" href="/fourvar">Solve four variable linear equations</a>
      <a class="nav-link nav-link-ltr" href="/questions/easy">Easy question on single variable linear equations</a>
      <a class="nav-link nav-link-ltr" href="/questions/medium">Medium question on single variable linear equations</a>
      <a class="nav-link nav-link-ltr" href="/questions/hard">Hard question on single variable linear equations</a>
    </div>
    <div class="content">
      {% if error != None %}
        <p>{{error}}</p>
      {% endif %}
      {% if answer != None %}
        <p>{{answer}}</p>
      {% endif %}
      <h3>Enter your two variable eqations</h3>
      <form method="POST" action="{{ url_for('twovarfunc') }}">
        <input type="text" id="a" placeholder="a" name="a" required>x + 
        <input type="text" id="b" name="b" placeholder="b" required>y = 
        <input type="text" id="c" name="c" placeholder="c" required>
        <br>
        <input type="text" id="d" placeholder="d" name="d" required>x + 
        <input type="text" id="e" name="e" placeholder="e" required>y = 
        <input type="text" id="f" name="f" placeholder="f" required>
        <input type="submit" value="Submit">
      </form>
    </div>
    <script src="{{ url_for('static', filename='prism.js') }}"></script>
    <script src="{{ url_for('static', filename='sticky.js') }}"></script>
  </body>
</html>